@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

.title-image {
  position: relative;
  margin-left: calc(-50vw + 50%);
}

.title-container h1 {
  position: absolute;
  color: #ffffff;
  top: 8rem;
}

.form {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.car-details i {
  font-size: 30px;
}
.car-details p {
  font-size: 18px;
}
.car-model,
.car-seats,
.car-range,
.car-price-per-day {
  text-align: center;
}
